
<li class="task" >
    <p class="task_name">{{task?.name}}</p>
    <div class="task_actions">
           <mat-form-field  appearance="fill">
                <mat-label>Change status</mat-label>
                <mat-select [formControl]="taskStatus">
                    <mat-option value="1">On doing</mat-option>
                    <mat-option value="2">Complete</mat-option>
                    <mat-option value="3">Cancel</mat-option>
                </mat-select>
        </mat-form-field>
    <button mat-raised-button color="warn" (click)="onTaskDelete()">Delete</button>
    </div>

</li>