.task {
    background: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 1em;
    .task_actions {
        button {
            margin-left: 1em;
        }
    }
}

.task-0 {
    background-color: green;
}
.task-1 {
    background-color: red;
}
.task-2 {
    background-color: blue;
}
.task-3 {
    background-color: pink;
}