<div
    fxLayout="column">
   <ng-container *ngIf="(tasksState$ | async) as tasksData">
     <div *ngIf="tasksData.loading">
        Cargando.....
    </div>
    <ng-container *ngIf="!tasksData.loading">
         <div *ngIf="tasksData.tasks.length > 0; else noTasks">
        <ng-container *ngIf="(tasksData.tasks | filter:filters) as filterData">
            <ul class="tasks-list" *ngIf="filterData.length > 0; else noTasks" >
                <app-todo-item *ngFor="let task of filterData" [item]="task"></app-todo-item>
            </ul>
        </ng-container>
        
   </div>
    <ng-template #noTasks>
        <p>No tasks</p>
    </ng-template>
    </ng-container>

   </ng-container>
</div>
